.header-element {
  position: fixed;
  top: 30px;
  left: 30px;
  width: auto;
  height: 40px;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 25px 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: rgb(15, 15, 15);
  cursor: pointer;
  user-select: none;
}

.light .header-element {
  background-color: rgb(49, 49, 49);
}
