.popup-header {
  background-color: #505050;
  padding: 8px 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.popup-window {
  position: fixed;
  background-color: rgb(70, 70, 70);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(3, 3, 3, 0.2);
  min-width: 500px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.popup-title {
  font-size: 16px;
}

.popup-close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0 8px;
}

.popup-close:hover {
  color: #f00;
}

.popup-content {
  padding: 16px;
  flex-grow: 1;
}