.popup-header {
  background-color: #505050;
  padding: 8px 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  z-index: 100;
}

.popup-window {
  position: fixed;
  background-color: rgb(70, 70, 70);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(3, 3, 3, 0.2);
  min-width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  animation: fadeIn 0.2s ease-in-out;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.popup-window.fade-out {
  animation: popupFadeOut 0.2s ease-out forwards;
}

.popup-title {
  font-size: 16px;
}

.popup-close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0 8px;
}

.popup-close:hover {
  color: #f00;
}

.popup-content {
  padding: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
    transform: scale(0.80);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popupFadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.80);
  }
}