.projetos-style {
    height: 500px;
    width: 850px;
}
.main-container{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
}

.main-container::-webkit-scrollbar {
    width: 8px;
    color: transparent;
}

.main-container::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 10px;
}
.desenvolvimento, .ferramentas {
    text-align: left;
    padding: 0 30px;
}

.projeto1-imagem {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
}

.projeto1-imagem img {
    border: 1px solid transparent;
    border-radius: 10px;
}

.projeto1-titulo {
    font-size: 18px;
    font-weight: 500;
}

.projeto1-descricao {
    font-size: 16px;
    font-weight: 400;
    color: #a0a0a0;
}

.projeto1-texto {
    text-align: left;
    line-height: 1.2;
    align-self: flex-start;
    flex-direction: column;
}

.ferramentas-desenvolvimento {
    display: flex;
    flex-direction: row;
}

.txt-titulo {
    font-size: 22px;
    font-weight: 500;
}

.emprego-txt {
    background-color: rgb(14, 45, 80);
    display: inline-block;
    padding: 2px 10px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.btn-ferramentas {
    margin: 4px;
}

.btn-desenvolvimento {
    margin: 4px;
}