.apresentacao {
    flex-direction: colums;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    width: 100%;
}

.foto-apresentacao {
    border-radius: 50%;
    border: 3px solid #0a0d11;
    height: 200px;
    width: 200px;
}

.light .foto-apresentacao {
    border: 2px solid #1b1b1b;
}

.sobre-style {
    height: 800px;
    width: 650px;
}

.conteudo {
    max-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
}

.conteudo::-webkit-scrollbar {
    width: 8px;
    color: transparent;
}

.conteudo::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 10px;
}

.texto-apresentacao {
    text-align: left;
    line-height: 1.2;
}

.light .titulo {
    color: #202122;
}

.light .texto-apresentacao {
    color: #202122;
}

.light .educacao-texto {
    color: #202122;
}

.light .textos {
    color: #202122;
}

.light .outros-interesses-texto {
    color: #202122;
}

.light .linguas-texto {
    color: #202122;
}

.p-nome {
    font-size: 40px;
    color: auto;
    display: flex;
    margin-bottom: 2px;
}
.p-apresentacao {
    font-size: 16px;
    color: auto;
}

.textos {
    text-align: left;
    padding: 0 30px;
}

.educacao {
    text-align: left;
    padding: 0 30px
}

.titulo {
    font-size: 24px;
    font-weight: 400;
}

.educacao-texto {
    border: 2px solid rgb(90, 90, 90);
    border-top: transparent;
    border-bottom: transparent;
    border-right: transparent;
    padding: 0 20px;
    line-height: 0.4;
}

.educacao-subtexto {
    color: gray;
}

.outros-interesses {
    text-align: left;
    padding: 0 30px;
    line-height: 0.8;
}   

.outros-interesses-texto {
    line-height: 1.2;
}

.outras-linguas {
    text-align: left;
    padding: 0 30px;
    line-height: 0.8;
}

.linguas-texto {
    text-align: left;
    border: 2px solid rgb(90, 90, 90);
    border-top: transparent;
    border-bottom: transparent;
    border-right: transparent;
    padding: 0 30px;
    line-height: 1.2;
}